/* wrap */
.wrap {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  min-width: 320px;
}

/* header */
.header {
  position: relative;
  height: 8vh;
  width: 100%;
}
.header-inner {
  position: fixed;
  display: flex;
  width: 100%;
  height: 8vh;
  margin: 0 auto;
  padding: 0 10%;
  text-align: center;
  z-index: 10000;
  background-color: #000;
}
.logo {
  position: relative;
  display: inline-block;
  width: 10vw;
  line-height: 8vh;
  margin: 0 auto;
}
.logo a span {
  font-size: 2.2rem;
  line-height: 8vh;
}

nav.menu {
  position: relative;
  display: flex;
  width: 70vw;
  justify-content: flex-end;
}
.menu ul {
  position: relative;
  display: flex;
}
.menu ul li {
  position: relative;
}
.menu ul li a {
  position: relative;
  display: block;
  line-height: 8vh;
  font-size: 1.2rem;
  padding: 0 1rem;
  letter-spacing: -0.25px;
  font-weight: 600;
  transition: color 0.3s ease;
}
.menu ul li a:hover {
  color: #80dfff; /* 밝은 네온블루 */
}
.contact a span {
  border-bottom: 2px solid;
}

/* main */
.main {
  display: flex;
  width: 100vw;
  height: 84vh;
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
}

/* 프로필 이미지 */
.profile {
}
.profile img {
  position: fixed; /* 고정 */
  top: 50%;
  left: 5vw;
  transform: translateY(-50%);
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  object-fit: cover;
  z-index: 10; /* 프로필 이미지가 항상 위에 있도록 설정 */
}
/* 스크롤되는 콘텐츠 */
.content {
  position: absolute; /* 스크롤이 가능한 영역 */
  top: 0;
  left: 30vw; /* 프로필 이미지 오른쪽 */
  right: 0;
  bottom: 0;
  overflow-y: scroll; /* 세로 스크롤 가능 */
  padding: 2rem;
}

section {
  height: 84vh; /* 각 섹션을 전체 화면 높이로 설정 */
  padding: 20px;
  background-color: #fff;
  margin-bottom: 20px;
}

.about-me,
.contact-me {
  background-color: #f0f0f0;
}

.about-me {
}
.about-me article {
}
.about-me article p {
  height: 40vh;
  font-family: "arial", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}
.about-me article ul {
  display: flex;
}
.about-me article ul li {
  display: flex;
}
.about-me article ul li img {
  width: 4vw;
  margin: 1vw;
}

/* 미디어 쿼리 적용 */
/* 테블릿 사이즈 */
/* @media screen and (max-width: 768px) {
  .profile img {
    top: 0;
    width: 30vw;
    height: 30vw;
  }

  .content {
    left: 0;
  }
} */
/* footer */
.footer {
  position: relative;
  width: 100%;
  height: 8vh;
}
.footer div {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.footer p {
  font-size: 1rem;
  font-weight: 400;
  font-family: "Arial";
  text-align: center;
}
.footer div .credit {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  font-size: 1rem;
  color: #fff;
  padding-right: 2rem;
}
.credit a {
  display: flex;
  font-size: 0.7rem;
  color: #fff;
  margin-left: 1rem;
}

/* 반응형을 위한 미디어쿼리 작성 */
/* 1200 이하 */
@media screen and (max-width: 1200px) {
  .logo a span {
    font-size: 2rem;
  }
  .menu ul li a {
    font-size: 0.9rem;
  }
  .footer p {
    font-size: 0.9rem;
  }
}

/* 반응형을 위한 미디어쿼리 작성 */
/* 1200 이하 */
@media screen and (max-width: 1200px) {
  .logo a span {
    font-size: 2rem;
  }
  .menu ul li a {
    font-size: 1.1rem;
  }
  .footer p {
    font-size: 0.9rem;
  }
}

/* 540 이하 (모바일) */
@media screen and (max-width: 540px) {
  .logo a span {
    font-size: 1.5rem;
  }
  .menu ul li a {
    font-size: 1rem;
  }
  .footer p {
    font-size: 0.675rem;
  }
}
