/* wrap */
.wrap {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  min-width: 320px;
}

/* header */
.header {
  position: relative;
  height: 8vh;
  width: 100%;
}
.header-inner {
  position: fixed;
  display: flex;
  width: 100%;
  height: 8vh;
  margin: 0 auto;
  padding: 0 10%;
  text-align: center;
  z-index: 10000;
  background-color: #000;
}
.logo {
  position: relative;
  display: inline-block;
  width: 10vw;
  line-height: 8vh;
  margin: 0 auto;
}
.logo a span {
  font-size: 2.2rem;
  line-height: 8vh;
}

nav.menu {
  position: relative;
  display: flex;
  width: 70vw;
  justify-content: flex-end;
}
.menu ul {
  position: relative;
  display: flex;
}
.menu ul li {
  position: relative;
}
.menu ul li a {
  position: relative;
  display: block;
  line-height: 8vh;
  font-size: 1.2rem;
  padding: 0 1rem;
  letter-spacing: -0.25px;
  font-weight: 600;
  transition: color 0.3s ease;
}
.menu ul li a:hover {
  color: #80dfff; /* 밝은 네온블루 */
}
.contact a span {
  border-bottom: 2px solid;
}

/* main */
.main {
  position: relative;
  display: flex;
  width: 100vw;
  height: 84vh;
  margin: 0 auto;
}
.profile {
  position: relative;
}
.main div > img {
  position: absolute;
  top: 50%;
  left: 5vw;
  width: 25vw;
  height: 25vw;
  transform: translateY(-50%);
  z-index: 999;
  border-radius: 50%; /* 원형으로 만드는 속성 */
  object-fit: cover; /* 이미지가 잘리지 않게 조정 */
}
.section {
  position: relative;
  width: 100%;
  height: 100%;
}
.article {
  width: 100%;
  height: 100%;
  background-color: #fff;
}
/* contact-me */
.contact-me ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.contact-me ul li span {
  margin-left: 1rem;
}
/* footer */
.footer {
  position: relative;
  width: 100%;
  height: 8vh;
}
.footer div {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.footer p {
  font-size: 1rem;
  font-weight: 400;
  font-family: "Arial";
  text-align: center;
}
.footer div .credit {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  font-size: 1rem;
  color: #fff;
  padding-right: 2rem;
}
.credit a {
  display: flex;
  font-size: 0.7rem;
  color: #fff;
  margin-left: 1rem;
}

/* 반응형을 위한 미디어쿼리 작성 */
/* 1200 이하 */
@media screen and (max-width: 1200px) {
  .logo a span {
    font-size: 2rem;
  }
  .menu ul li a {
    font-size: 0.9rem;
  }
  .footer p {
    font-size: 0.9rem;
  }
}

/* 반응형을 위한 미디어쿼리 작성 */
/* 1200 이하 */
@media screen and (max-width: 1200px) {
  .logo a span {
    font-size: 2rem;
  }
  .menu ul li a {
    font-size: 1.1rem;
  }
  .footer p {
    font-size: 0.9rem;
  }
}

/* 540 이하 (모바일) */
@media screen and (max-width: 540px) {
  .logo a span {
    font-size: 1.5rem;
  }
  .menu ul li a {
    font-size: 1rem;
  }
  .footer p {
    font-size: 0.675rem;
  }
}
