/* wrap */
.wrap {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  min-width: 320px;
}
/* header */
.header {
  position: absolute;
  top: 0;
  height: 8%;
  width: 100%;
  background-color: black;
  z-index: 1;
}
.header-inner {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 10%;
  text-align: center;
}
.logo {
  position: relative;
  display: inline-block;
  width: 10vw;
  line-height: 8vh;
  margin: 0 auto;
}
.logo a span {
  font-size: 2.2rem;
  line-height: 8vh;
}

nav.menu {
  position: relative;
  display: flex;
  width: 70vw;
  justify-content: flex-end;
}
.menu ul {
  position: relative;
  display: flex;
}
.menu ul li {
  position: relative;
}
.menu ul li a {
  position: relative;
  display: block;
  line-height: 8vh;
  font-size: 1.2rem;
  padding: 0 1rem;
  letter-spacing: -0.25px;
  font-weight: 600;
  transition: color 0.3s ease;
}
.menu ul li a:hover {
  color: #80dfff; /* 밝은 네온블루 */
}

/* main */
.main {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
}
.main div {
  height: 100%;
  width: 100%;
}
.main div video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 130%;
}

/* footer */
.footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 8vh;
  background-color: black;
  z-index: 1;
}
.footer div {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.footer p {
  font-size: 1rem;
  font-weight: 400;
  font-family: "Arial";
  text-align: center;
}

/* 반응형을 위한 미디어쿼리 작성 */
/* 1200 이하 */
@media screen and (max-width: 1200px) {
  .logo a span {
    font-size: 2rem;
  }
  .menu ul li a {
    font-size: 0.9rem;
  }
  .footer p {
    font-size: 0.9rem;
  }
}

/* 반응형을 위한 미디어쿼리 작성 */
/* 1200 이하 */
@media screen and (max-width: 1200px) {
  .logo a span {
    font-size: 2rem;
  }
  .menu ul li a {
    font-size: 1.1rem;
  }
  .footer p {
    font-size: 0.9rem;
  }
}

/* 540 이하 (모바일) */
@media screen and (max-width: 540px) {
  .logo a span {
    font-size: 1.5rem;
  }
  .menu ul li a {
    font-size: 1rem;
  }
  .footer p {
    font-size: 0.675rem;
  }
}

/* 배경영상 공사중 */
/* home.css나 global.css 가장 아래에 추가 */
.video-background-container {
  display: none;
}
